h1{
  text-align: center;
}
.top-container {
  background-color: #97E5EF
}

.second-container {
  background-color: #CFF1EF
}

.third-container {
  background-color: #FFFFFF
}

.fourth-container {
  background-color: #FBCFFC
}

.fifth-container {
  background-color: #BE79DF
}
